@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

.navbar{
    background: #662671;
}

.side-bar{
width:20vw;
height:92vh;
background:#f4f4f4;
}

.give-margin-20{
    position:relative;
    top:3%;
}

.nav-list:hover{
    background:#F4EDAF;
}
.nav-list:active{
    background:F4EDAF;
}

.main-container{
    width:80vw;
    height:90vh;
    
}

.addColor{
    background:#662671;
}

.search-box{
 border:1px solid #9D9D9D;
 width:534px;
 height:33px;
}
.search-box:focus{
    outline:none;
}

table{
    width:100%;
    margin-top:32px;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align:center;
  
}
thead th{
    padding:6px 0 6px 0px;
    background:#F4EDAF;
    font-weight:600;
}

tbody tr{
    text-align:center;
    margin:10px;
}

.confirm-btn{
    position:relative;
    top:60%;
    float:right;
}

.cancelColor{
    color:#767676;
    border:1px solid #767676;
}
.auth-container{
    width:100vw;
    height:100vh;
    background: 
    linear-gradient(rgba(92, 33, 139, 0.2),rgba(92, 33, 139, 0.2)), /* Overlay color with transparency */
    url('/assets/authBackground.png'); /* Background image */
  background-position: center;
  background-repeat: no-repeat;
    
}

.auth-form{
    width: 30vw;
    height:63vh;
    position:relative;
    top:21%;
    left:280px;
    
  
}
.auth-form p{
    letter-spacing: .5px;
}

.forgot-password{
    color:#662671;
    font-size:12px;
    margin-top: -10px;
    margin-bottom:20px;
    letter-spacing: 0px !important;
    cursor: pointer;
}

.textColor{
    color:#662671;
}